@media (orientation: landscape) {
	body {
		display: flex;
		background-image: url(https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg?w=996&t=st=1689840173~exp=1689840773~hmac=46f9afe1f804c7f675983f1cfb8633535db95791fc058ae52caa109a35d5e5f4);
		height: 100%;
		width: 100%;
		background-position: center;
	}
	
	main {
		width: 80%;
		height: 80%;
		background-position: center;
		text-align: center;
		color:white;
	}

	#title {
		text-align: center;
	}

	button {
		--green: #1BFD9C;
		font-size: 15px;
		padding: 0.7em 2.7em;
		letter-spacing: 0.06em;
		position: relative;
		font-family: inherit;
		border-radius: 0.6em;
		overflow: hidden;
		transition: all 0.3s;
		line-height: 1.4em;
		border: 2px solid var(--green);
		background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
		color: var(--green);
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
	  }
	  
	  button:hover {
		color: #82ffc9;
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
	  }
	  
	  button:before {
		content: "";
		position: absolute;
		left: -4em;
		width: 4em;
		height: 100%;
		top: 0;
		transition: transform .4s ease-in-out;
		background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
	  }
	  
	  button:hover:before {
		transform: translateX(15em);
	  }
  }
  
  @media (orientation: landscape) {
	body {
		display: flex;
		background-image: url(https://img.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_53876-129493.jpg?w=996&t=st=1689840173~exp=1689840773~hmac=46f9afe1f804c7f675983f1cfb8633535db95791fc058ae52caa109a35d5e5f4);
		height: 100%;
		width: 100%;
		background-position: center;
	}
	
	main {
		width: 80%;
		height: 80%;
		background-position: center;
		text-align: center;
		color:white;
	}

	#title {
		text-align: center;
	}

	button {
		--green: #1BFD9C;
		font-size: 15px;
		padding: 0.7em 2.7em;
		letter-spacing: 0.06em;
		position: relative;
		font-family: inherit;
		border-radius: 0.6em;
		overflow: hidden;
		transition: all 0.3s;
		line-height: 1.4em;
		border: 2px solid var(--green);
		background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
		color: var(--green);
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
	  }
	  
	  button:hover {
		color: #82ffc9;
		box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
	  }
	  
	  button:before {
		content: "";
		position: absolute;
		left: -4em;
		width: 4em;
		height: 100%;
		top: 0;
		transition: transform .4s ease-in-out;
		background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
	  }
	  
	  button:hover:before {
		transform: translateX(15em);
	  }
  }
  